ion-content{
	background-color: #f0f0f0;
}

ion-item.item-ativo{
	color: #112877;
}

ion-item.item-ativo .item-content{
	background-color: rgba(219, 195, 0, 0.36);
}

.cavcimg{
	width: 100%;
	opacity: 0.3;
}

.bar.bar-main{
	border-bottom: 3px solid #c9b300;
}