ion-content{
	background-color: #f0f0f0;
}

ion-item.item-ativo{
	color: #204aa1;
}

ion-item.item-ativo .item-content{
	background-color: #e7de8f;
}

.cavcimg{
	width: 100%;
	opacity: 0.3;
}

.bar.bar-main{
	border-bottom: 3px solid #e7de8f;
}
.bar.bar-mustard{
	background-color: #e7de8f;
	border-bottom: 1px solid #e7de8f;
}
.bold{
	font-weight: bold !important;
}
.blue{
	color: #204aa1 !important;
}

/* BANDEX */

.button-bar.top-switch{
	width: 75%;
	margin: 0 auto;
	height: 34px;
}
.button-bar.top-switch .button{
	border: 2px solid #2d5184;
	color: #2d5184;
	background-color: transparent;
	font-size: 15px;
	line-height: 30px;
}
.button-bar.top-switch .button:first-child, .button-bar.common-switch .button:first-child{
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.button-bar.top-switch .button:last-child, .button-bar.common-switch .button:last-child{
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.button-bar.top-switch .button.highlight{
	background-color: #2d5184;
	color: #FFFFFF;
}
.button-bar.top-switch .button.active, .button-bar.top-switch .button.activated{
	box-shadow: none;
}
.item.today{
	background-color: rgba(89, 86, 255, 0.19);
	color: #2d5184;
}
