<ion-view view-title="Notícias">
  <ion-content>
<div class="list">

        <a class="item item-thumbnail-left" href="#/app/playlists/01">
          <img src="http://placehold.it/150x150">
          <h2>Carta-programa da chapa candidata ao CAVC 2015</h2>
          <p>Confira a carta-programa da chapa Desenredo, candidata única à gestão 2015 do CAVC.</p>
          <p><small>20/07/2015</small></p>
        </a>

        <a class="item item-thumbnail-left" href="#/app/playlists/01">
          <img src="http://placehold.it/150x150">
          <h2>Inscrição das chapas ao CAVC e dos candidatos ao Conselho Fiscal de 2015</h2>
          <p>Encerram-se as inscrições das chapas para as eleições do Centro Acadêmico Visconde de Cairu (CAVC), assim como de seu Conselho Fiscal, para o ano de 2015. Segue a relação de candidatos:</p>
          <p><small>20/07/2015</small></p>
        </a>

        <a class="item item-thumbnail-left" href="#/app/playlists/01">
          <h2>Semana da Diversidade</h2>
          <p>De 29/09 a 03/10, acontecerá a Semana da Diversidade do CAVC. Para saber mais, clique na imagem abaixo.</p>
          <p><small>20/07/2015</small></p>
        </a>

        <a class="item item-thumbnail-left" href="#/app/playlists/01">
          <img src="http://placehold.it/150x150">
          <h2>Eleições CAVC 2015 – Edital de Convocação</h2>
          <p>O Centro Acadêmico Visconde de Cairu orgulhosamente apresenta o calendário de suaseleições para a gestão do CAVC do ano de 2015. Concomitantemente, acontecerão as eleições para o Conselho Fiscal e para a representação discente da pós graduação.

</p>
          <p><small>20/07/2015</small></p>
        </a>

        <a class="item item-thumbnail-left" href="#/app/playlists/01">
          <img src="http://placehold.it/150x150">
          <h2>Posicionamentos do CAVC sobre a Greve e suas Pautas</h2>
          <p>Confira o posicionamento do CAVC sobre a greve e suas pautas, apresentado na Congregação de 27/08/2014 e agora divulgado aos alunos. Esperamos que nosso posicionamento possa trazer maior embasamento e sensibilidade ao debate.</p>
          <p><small>20/07/2015</small></p>
        </a>

        <a class="item item-thumbnail-left" href="#/app/playlists/01">
          <img src="http://placehold.it/150x150">
          <h2>Carta-programa da chapa candidata ao CAVC 2015</h2>
          <p>Confira a carta-programa da chapa Desenredo, candidata única à gestão 2015 do CAVC.</p>
          <p><small>20/07/2015</small></p>
        </a>

        <a class="item item-thumbnail-left" href="#/app/playlists/01">
          <img src="http://placehold.it/150x150">
          <h2>Inscrição das chapas ao CAVC e dos candidatos ao Conselho Fiscal de 2015</h2>
          <p>Encerram-se as inscrições das chapas para as eleições do Centro Acadêmico Visconde de Cairu (CAVC), assim como de seu Conselho Fiscal, para o ano de 2015. Segue a relação de candidatos:</p>
          <p><small>20/07/2015</small></p>
        </a>

        <a class="item item-thumbnail-left" href="#/app/playlists/01">
          <h2>Semana da Diversidade</h2>
          <p>De 29/09 a 03/10, acontecerá a Semana da Diversidade do CAVC. Para saber mais, clique na imagem abaixo.</p>
          <p><small>20/07/2015</small></p>
        </a>

        <a class="item item-thumbnail-left" href="#/app/playlists/01">
          <img src="http://placehold.it/150x150">
          <h2>Eleições CAVC 2015 – Edital de Convocação</h2>
          <p>O Centro Acadêmico Visconde de Cairu orgulhosamente apresenta o calendário de suaseleições para a gestão do CAVC do ano de 2015. Concomitantemente, acontecerão as eleições para o Conselho Fiscal e para a representação discente da pós graduação.

</p>
          <p><small>20/07/2015</small></p>
        </a>

        <a class="item item-thumbnail-left" href="#/app/playlists/01">
          <img src="http://placehold.it/150x150">
          <h2>Posicionamentos do CAVC sobre a Greve e suas Pautas</h2>
          <p>Confira o posicionamento do CAVC sobre a greve e suas pautas, apresentado na Congregação de 27/08/2014 e agora divulgado aos alunos. Esperamos que nosso posicionamento possa trazer maior embasamento e sensibilidade ao debate.</p>
          <p><small>20/07/2015</small></p>
        </a>

      </div>
  </ion-content>
</ion-view>
