<ion-view view-title="Eventos">
  <ion-content>
    <div class="wrapp">
      <flex-calendar options="options" events="events"></flex-calendar>
    </div>
    <div class="list">

        <div class="item item-divider">
          25 de Junho de 2015
        </div>

        <a class="item  item-icon-right" href="#/app/evento" >
          Encontro de Matemática
          <br>
          <small>17:00</small>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item  item-icon-right" href="#/app/evento" >
          Feira Profissões
          <br>
          <small>18:00</small>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item  item-icon-right" href="#/app/evento" >
          Discussões
          <br>
          <small>19:00</small>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

        <a class="item  item-icon-right" href="#/app/evento" >
          Festa
          <br>
          <small>21:00</small>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>

      </div>
  </ion-content>
</ion-view>
