/* Empty. Add your own CSS if you like */
.nomargin{
	margin: 0 !important;
}
.scroll {
    height: 100%;
}
 
.no {
    color: #eee;
    text-transform: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-align: center;
    margin-top: 50%;
}

.cavcimg{
	width: 100%;
	opacity: 0.3;
}

ion-item.item-ativo .item-content{
	background-color: #e7de8f;
}

.platform-ios .bar.bar-main{
	border-bottom: 3px solid #ffb835;
}

ion-content{
    background-color: #f0f0f0;
}