<ion-view view-title="Bandejão">
  <ion-content>
    <div class="list">

        <div class="item item-divider" style="  text-align: center;">
          Segunda-Feira
        </div>

        <div class="item">
          Arroz/feijão preto/arroz integral
        </div>

        <div class="item">
          Copa lombo ao molho de mostarda
        </div>

        <div class="item">
          Virado de cebola
        </div>

        <div class="item">
          Salada de escarola
        </div>
        <div class="item">
          Laranja/Refresco
        </div>

        <div class="item item-divider" style="  text-align: center;">
          Terça-Feira
        </div>

        <div class="item">
          Arroz/feijão preto/arroz integral
        </div>

        <div class="item">
          Copa lombo ao molho de mostarda
        </div>

        <div class="item">
          Virado de cebola
        </div>

        <div class="item">
          Salada de escarola
        </div>
        <div class="item">
          Laranja/Refresco
        </div>

        <div class="item item-divider" style="  text-align: center;">
          Quarta-Feira
        </div>

        <div class="item">
          Arroz/feijão preto/arroz integral
        </div>

        <div class="item">
          Copa lombo ao molho de mostarda
        </div>

        <div class="item">
          Virado de cebola
        </div>

        <div class="item">
          Salada de escarola
        </div>
        <div class="item">
          Laranja/Refresco
        </div>

        <div class="item item-divider" style="  text-align: center;">
          Quinta-Feira
        </div>

        <div class="item">
          Arroz/feijão preto/arroz integral
        </div>

        <div class="item">
          Copa lombo ao molho de mostarda
        </div>

        <div class="item">
          Virado de cebola
        </div>

        <div class="item">
          Salada de escarola
        </div>
        <div class="item">
          Laranja/Refresco
        </div>


      </div>
  </ion-content>
</ion-view>
