<ion-view view-title="Bandejão">
  <ion-header-bar class="bar-subheader bar-mustard">
    <div class="button-bar top-switch">
      <a class="button" ng-class="{'highlight' : bandex=='fisica'}" ng-click="bandex='fisica'">Física/Central</a>
      <a class="button" ng-class="{'highlight' : bandex=='quimica'}"  ng-click="bandex='quimica'">Química</a>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
        <div ng-repeat="dia in listabandex[bandex] track by $index | filter:beforeToday">
          <div class="item item-divider" style="text-align: center;" ng-class="{'today': dia.day==hoje}">
            {{getDayName(dia.day)}}{{dia.day==hoje ? " (Hoje)" : ""}}
          </div>
          <div class="item">
            {{dia.arroz}}
          </div>
          <div class="item">
            {{dia.carne}}
          </div>
          <div class="item">
            {{dia.pvt}}
          </div>
          <div class="item">
            {{dia.verdura}}
          </div>
          <div class="item">
            {{dia.salada}}
          </div>
          <div class="item">
            {{dia.sobremesa}}
          </div>
          <div class="item">
            <span class="bold">Valor calórico: {{dia.kcal}}kcal</span>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
