<ion-view view-title="Notícias">
  <ion-content>
  <div class="list card" ng-repeat="noticia in listanoticias">
    <div class="item">
      <h2 class="bold blue">{{noticia.titulo}}</h2>
      <p class="p-date">{{noticia.data}}</p>
    </div>
    <div class="item item-body">
      <div class="col col-80 col-offset-10">
        <img class="full-image" ng-src="{{noticia.img}}">
      </div>
      <p ng-text-truncate="noticia.texto" ng-tt-words-threshold="20" ng-tt-more-label="Mais" ng-tt-less-label="Menos"></p>
    </div>
  </div>
  </ion-content>
</ion-view>
