<ion-view view-title="Bandejão">
   <ion-tabs class="tabs-icon-top tabs-positive">
      <ion-tab title="Central/Física" icon="ion-pizza">
         <ion-nav-bar class="bar-positive"></ion-nav-bar>
         <ion-content ng-show="listanoticias.length != 0">
            <ion-refresher pulling-text="Deslize para atualizar..." on-refresh="doRefresh()"> </ion-refresher>
            <div ng-repeat="dia in cardapio['central']">
               <div class="item item-divider item-energized" style="text-align: center;" ng-class="{'bold': dia.day==hoje}" ng-if="dia">
                  {{dia.dia}}
               </div>
               <div class="item item-divider" ng-if="dia.lunch">
                  <small>Almoço</small>
               </div>
               <div class="item" ng-repeat="prato in dia.lunch.comidas">
                  {{prato}}
               </div>
               <div class="item" ng-if="dia.lunch">
                  <span class="bold">Valor calórico: <span class="positive">{{dia.lunch.kcal}}</span> kcal</span>
               </div>
               <div class="item item-divider" ng-if="dia.dinner">
                  <small>Jantar</small>
               </div>
               <div class="item" ng-repeat="prato in dia.dinner.comidas">
                  {{prato}}
               </div>
               <div class="item" ng-if="dia.dinner">
                  <span class="bold">Valor calórico: <span class="positive">{{dia.dinner.kcal}}</span> kcal</span>
               </div>
            </div>
         </ion-content>
         <div ng-show="listanoticias.length == 0" class="no">
            <i class="icon ion-wifi" style="font-size:140px"></i>
            <p>Não achamos o que será servido.</p>
         </div>
      </ion-tab>
      <ion-tab title="Química" icon-off="ion-ios-flask-outline" icon-on="ion-ios-flask">
         <ion-nav-bar class="bar-positive"></ion-nav-bar>
         <ion-content ng-show="listanoticias.length != 0">
            <ion-refresher pulling-text="Deslize para atualizar..." on-refresh="doRefresh()"> </ion-refresher>
            <div ng-repeat="dia in cardapio['quimica']">
               <div class="item item-divider item-energized" style="text-align: center;" ng-class="{'bold': dia.day==hoje}" ng-if="dia">
                  {{dia.dia}}
               </div>
               <div class="item item-divider" ng-if="dia.lunch">
                  <small>Almoço</small>
               </div>
               <div class="item" ng-repeat="prato in dia.lunch.comidas">
                  {{prato}}
               </div>
               <div class="item" ng-if="dia.lunch">
                  <span class="bold">Valor calórico: <span class="positive">{{dia.lunch.kcal}}</span> kcal</span>
               </div>
               <div class="item item-divider" ng-if="dia.dinner">
                  <small>Jantar</small>
               </div>
               <div class="item" ng-repeat="prato in dia.dinner.comidas">
                  {{prato}}
               </div>
               <div class="item" ng-if="dia.dinner">
                  <span class="bold">Valor calórico: <span class="positive">{{dia.dinner.kcal}}</span> kcal</span>
               </div>
            </div>
         </ion-content>
         <div ng-show="listanoticias.length == 0" class="no">
            <i class="icon ion-wifi" style="font-size:140px"></i>
            <p>Não achamos o que será servido.</p>
         </div>
      </ion-tab>
   </ion-tabs>
</ion-view>