<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Eventos">
  <ion-content lazy-scroll>

  <div class="item">
    <h2>Encontro de Matemática</h2>
    <p>30/06/2015 - 16:44</p>
  </div>

  <div class="item item-body">
    <img class="full-image" image-lazy-loader="lines" image-lazy-src="{{evento.image768}}" ng-if="evento.image768">
    <p ng-if="evento.shortDescription!='...'" style="text-align: justify;">
      Etiam cursus sapien ut dapibus tincidunt. Morbi arcu elit, sollicitudin sed est eget, tincidunt viverra justo. Sed efficitur quam sed mollis aliquet. Para discutir as dificuldades com cálculo. Fusce aliquet vel odio sodales maximus. Vestibulum sit amet enim libero. Ut et augue neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam sodales tempus est in scelerisque.
    </p>
    <p>
      <a href="#" class="subdued" ng-show="evento.price">{{evento.price}}</a>
      <a href="#" class="subdued" ng-show="evento.classificacaoEtaria">{{evento.classificacaoEtaria}}</a>
    </p>
  </div>

  <div class="item" ng-if="local.name">
        <b><small>{{local.name}}</small></b><br>
        <small>{{local.endereco}}</small>
  </div>

  <div class="item" style="padding:0;">
        <div style="width:100%;height:400px;" id="map_canvas_z"></div>
  </div>





  </ion-content>
</ion-view>
