<ion-view view-title="Eventos">
  <ion-content>
   <div class="list">


        <div class="item item-divider" style="  text-align: center;">
          Francês I - 2015/1
        </div>

  <a class="item" href="#">
    Prova Substitutiva
    <span class="badge badge-balanced">8,3</span>
  </a>


    <a class="item" href="#">
    Segunda Prova
    <span class="badge badge-assertive">1,3</span>
  </a>
 <a class="item" href="#">
    Primeira Prova
    <span class="badge badge-energized">6,0</span>
  </a>

  <a class="item" href="#">
    <b>Nota Final</b>
    <span class="badge badge-balanced">7,0</span>
  </a>


        <div class="item item-divider" style="  text-align: center;">
          Alemão I - 2014/2
        </div>


    <a class="item" href="#">
    Segunda Prova
    <span class="badge badge-balanced">9,3</span>
  </a>
 <a class="item" href="#">
    Primeira Prova
    <span class="badge badge-balanced">9,0</span>
  </a>

  <a class="item" href="#">
    <b>Nota Final</b>
    <span class="badge badge-balanced">9,1</span>
  </a>
  

</div>
  </ion-content>
</ion-view>
