<ion-view view-title="Semana da Diversidade">
  <ion-content>


    <div class="item item-body">
    <img class="full-image" src="img/2.png">
    <p style="text-align: justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices quam ligula, a fermentum ligula eleifend vitae. Donec elit massa, ullamcorper in convallis ac, pulvinar in tellus. Morbi nec dui placerat, rhoncus lorem sed, congue augue. Nam vel nisi metus. Sed leo neque, aliquam at commodo et, porttitor vitae elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse velit nibh, laoreet quis maximus at, porta vitae arcu. Etiam id sodales elit. Donec condimentum ut orci sed consectetur. Nunc sed neque vitae tortor rutrum placerat.
</p><p style="text-align: justify">

Sed ultricies iaculis turpis, eget dignissim est blandit a. Ut tempor blandit feugiat. Nullam venenatis nisl vel lorem cursus dapibus. Aliquam suscipit auctor augue pretium molestie. Ut maximus, erat eu pellentesque viverra, arcu diam fermentum arcu, vel posuere tellus velit sed ex. Vestibulum tincidunt eu eros in consectetur. Vestibulum quis pellentesque felis. Maecenas cursus ac urna sit amet ullamcorper. Suspendisse tempus semper lorem nec consequat.
    </p>
    <p>
      <a href="#" class="subdued">20/06/2015</a>
    </p>
  </div>
  </ion-content>
</ion-view>
