<ion-view view-title="Rotas">

	<ion-tabs class="tabs-top">

	  <ion-tab title="Origem">
	    <ion-nav-bar class="bar-positive"></ion-nav-bar>
			<ion-content>
			<ion-list>
				<div class="list">

				  <div class="item item-select">
				    <div class="input-label">
				    	Selecione a origem
				    </div>
				    <select>
						<option value="none" selected="selected">Locais</option>
						<option value="1780">Centro de Visitantes  USP</option>
						<option value="1759">FO &#8211; Biblioteca</option>
						<option value="1753">IAG &#8211; Biblioteca</option>
						<option value="1750">IB &#8211; Biblioteca</option>
						<option value="1744">IEE &#8211; Biblioteca</option>
						<option value="1741">IF &#8211; Biblioteca</option>
						<option value="1735">IGc &#8211; Biblioteca</option>
						<option value="1711">IME &#8211; Biblioteca</option>
						<option value="1729">Ponto da Veterinária &#8211; Circular (Próximo à Portaria 3)</option>
						<option value="1721">Terminal de Ônibus</option>
						<option value="1715">Portaria 1 (P1)</option>
						<option value="1712">Portaria 2 (P2)</option>
						<option value="1707">Portaria 3 (P3)</option>
						<option value="1699">Portaria Pedestres &#8211; Vila Indiana</option>
						<option value="1694">IP &#8211; Biblioteca</option>
						<option value="1695">Portaria Pedestres &#8211; CPTM (Estação Cidade Universitária)</option>
						<option value="1687">Portaria Pedestres &#8211; São Remo</option>
						<option value="1675">Portaria Pedestres &#8211; IPT</option>
						<option value="1680">CINUSP &#8211; Cinema da USP</option>
						<option value="1666">Portaria Pedestres &#8211; Jardim Rizzo</option>
						<option value="1662">Portaria Instituto &#8211; Butantan</option>
						<option value="1648">Portaria Pedestres &#8211; HU</option>
						<option value="1640">PUSP -C- Prefeitura do Campus</option>
						<option value="1575">UBAS &#8211; Unidade Básica de Saúde</option>
						<option value="7">Praça do Relógio</option>
						<option value="31">IF &#8211; Instituto de Física</option>
						<option value="35">ECA &#8211; Escola de Comunicação e Artes</option>
						<option value="65">Restaurante Química (Bandejão)</option>
						<option value="189">POLI &#8211; Engenharia de Produção</option>
						<option value="70">FE &#8211; Faculdade de Educação</option>
						<option value="187">POLI &#8211; Engenharia Química</option>
						<option value="185">POLI &#8211; Engenharia Metalúrgica e de Materiais</option>
						<option value="183">POLI &#8211; Engenharia de Minas e de Petróleo</option>
						<option value="180">POLI &#8211; Engenharia Mecânica e Naval</option>
						<option value="178">POLI &#8211; Engenharia Elétrica</option>
						<option value="176">POLI &#8211; Engenharia Civil</option>
						<option value="67">FEA &#8211; Faculdade de Economia, Administração e Contabilidade</option>
						<option value="62">Restaurante central</option>
						<option value="166">ICB IV &#8211; Instituto de Ciências Biomédicas</option>
						<option value="120">ICB I &#8211; Instituto de Biociências</option>
						<option value="126">ICB III &#8211; Instituto de Ciências Biomédicas</option>
						<option value="117">IAG &#8211; Instituto de Astronomia, Geofísica e Ciências Atmosférica</option>
						<option value="122">ICB II &#8211; Instituto de Ciências Biomédicas</option>
						<option value="72">CEPEUSP &#8211; Centro de Práticas Esportivas</option>
						<option value="114">FMVZ &#8211; Faculdade Medicina Veterinária e Zootecnia</option>
						<option value="1429">MZ &#8211; Museu Paulista</option>
						<option value="216">IQ &#8211; Instituto de Química</option>
						<option value="1423">Museu de Geociências</option>
						<option value="1416">Museu de Ciências</option>
						<option value="1417">Praça dos Bancos</option>
						<option value="271">IB &#8211; Instituto de Biociências</option>
						<option value="211">IP &#8211; Instituto de Psicologia</option>
						<option value="1453">Museu Republicano Convenção de Itu</option>
						<option value="207">POLI &#8211; Administração Central (Ed. Mário Covas Jr.)</option>
						<option value="1412">MAC &#8211; Museu de Arte Contemporânea</option>
						<option value="269">FFLCH &#8211; Departamento de Teoria Literária e Literatura Comparada</option>
						<option value="266">FFLCH &#8211; Departamento de Sociologia</option>
						<option value="202">POLI &#8211; Engenharia Hidráulica e Ambiental</option>
						<option value="106">FCF &#8211; Faculdade de Ciências Farmacêuticas</option>
						<option value="102">FAU Maranhão &#8211; Faculdade de Arquitetura e Urbanismo</option>
						<option value="200">POLI &#8211; Engenharia Mecatrônica</option>
						<option value="256">FFLCH &#8211; Departamento de Linguística</option>
						<option value="100">FAU &#8211; Faculdade de Arquitetura e Urbanismo</option>
						<option value="197">POLI &#8211; Engenharia de Computação</option>
						<option value="1408">MAE- Museu de Arqueologia e Etnologia</option>
						<option value="96">EEFE &#8211; Escola de Educação Física e Esporte</option>
						<option value="254">FFLCH &#8211; Departamento de Letras Orientais</option>
						<option value="158">IME &#8211; Instituto de Matemática e Estatísitica</option>
						<option value="252">FFLCH &#8211; Departamento de Letras Modernas</option>
						<option value="247">FFLCH &#8211; Departamento de História</option>
						<option value="44">FO &#8211; Faculdade de Odontologia</option>
						<option value="244">FFLCH &#8211; Departamento de Geografia</option>
						<option value="242">FFLCH &#8211; Departamento de Filosofia</option>
						<option value="237">FFLCH &#8211; Departamento de Ciência Política</option>
						<option value="235">FFLCH &#8211; Departamento de Antropologia</option>
						<option value="41">FD &#8211; Faculdade de Direito</option>
						<option value="1449">Museu de Zoologia</option>
						<option value="148">IG &#8211; Instituto de Geociências</option>
						<option value="1406">Museu de Anatomia Veterinária</option>
						<option value="1403">Museu de Anatomia Humana</option>
						<option value="1400">Museu da Educação e do Brinquedo</option>
						<option value="1379">CPC &#8211; Centro de Preservação Cultural / Casa de Dona Yayá</option>
						<option value="4">Reitoria USP</option>
						<option value="145">IF &#8211; Instituto de Física</option>
						<option value="141">IEB &#8211; Instituto de Estudos Brasileiros</option>
						<option value="136">IEA &#8211; Instituto de Estudos Avançados</option>
						<option value="1376">Aucani &#8211; Agência USP de Cooperação Acadêmica Nacional e Internacional</option>
						<option value="133">IEE &#8211; Instituto de Energia e Ambiente</option>
						<option value="1373">PRPG &#8211; Pró-Reitoria de Pós Graduação</option>
						<option value="222">IO &#8211; Instituto Oceanográfico</option>
						<option value="1370">PRP &#8211; Pró-Reitoria de Pesquisa</option>
						<option value="1514">Parque Cientec</option>
						<option value="1511">Estação Ciência</option>
						<option value="219">IRI &#8211; Instituto de Relações Internacionais</option>
						<option value="1367">PRG &#8211; Pró-Reitoria de Graduação</option>
						<option value="1508">Centro Universitário Maria Antonia</option>
						<option value="1364">PRCEU &#8211; Pró-Reitoria de Cultura e Extensão Universitária</option>
						<option value="1361">SIBI &#8211; Sistema Integrado de Bibliotecas</option>
						<option value="1131">FEA &#8211; Biblioteca</option>
						<option value="1358">STI &#8211; Superintendência de Tecnologia da Informação</option>
						<option value="1355">SRI &#8211; Superintendência de Relações Institucionais</option>
						<option value="1352">SGA &#8211; Superintendência de Gestão Ambiental</option>
						<option value="1349">SCS &#8211; Superintendência de Comunicação Social</option>
						<option value="1346">SAS &#8211; Superintendência de Assistência Social</option>
						<option value="1342">USPinovação- Agência USP Inovação</option>
						<option value="1339">Diplomas &#8211; Secretária Geral</option>
						<option value="1252">FMVZ &#8211; Biblioteca Virginie Buff D&#8217;Ápice</option>
						<option value="1243">Poli &#8211; Biblioteca</option>
						<option value="1233">EEFE &#8211; Biblioteca</option>
						<option value="1230">CQ &#8211; Divisão de Biblioteca e Documentação do Conjunto das Químicas</option>
						<option value="1195">FE &#8211; Biblioteca do Livro Didático</option>
						<option value="1188">FAU Maranhão &#8211; Biblioteca Pós Graduação</option>
						<option value="1185">FAU &#8211; Biblioteca Arquitetura e Urbanismo</option>
						<option value="1178">MAE &#8211; Biblioteca e Documentação</option>
						<option value="1175">IEB &#8211; Biblioteca Instituto de Estudos Brasileiros</option>
						<option value="1172">FFLCH &#8211; Biblioteca Florestan Fernandes</option>
						<option value="1161">FD &#8211; Biblioteca Circulante</option>
						<option value="1152">FD &#8211; Biblioteca Faculdade de Direito</option>
						<option value="1148">ECA &#8211; Biblioteca Maria Luisa Monteiro da Cunha</option>
						<option value="1142">Biblioteca Brasiliana Guita e José Mindlin</option>
						<option value="250">FFLCH &#8211; Departamento de Letras Clássicas</option>       
				    </select>
				  </div>

				</div> 
			</ion-list>

			<ion-list>
				<div class="list">

				  <div class="item item-select">
				    <div class="input-label">
				    	Selecione o destino
				    </div>
				    <select>
						<option value="none" selected="selected">Locais</option>
						<option value="1780">Centro de Visitantes  USP</option>
						<option value="1759">FO &#8211; Biblioteca</option>
						<option value="1753">IAG &#8211; Biblioteca</option>
						<option value="1750">IB &#8211; Biblioteca</option>
						<option value="1744">IEE &#8211; Biblioteca</option>
						<option value="1741">IF &#8211; Biblioteca</option>
						<option value="1735">IGc &#8211; Biblioteca</option>
						<option value="1711">IME &#8211; Biblioteca</option>
						<option value="1729">Ponto da Veterinária &#8211; Circular (Próximo à Portaria 3)</option>
						<option value="1721">Terminal de Ônibus</option>
						<option value="1715">Portaria 1 (P1)</option>
						<option value="1712">Portaria 2 (P2)</option>
						<option value="1707">Portaria 3 (P3)</option>
						<option value="1699">Portaria Pedestres &#8211; Vila Indiana</option>
						<option value="1694">IP &#8211; Biblioteca</option>
						<option value="1695">Portaria Pedestres &#8211; CPTM (Estação Cidade Universitária)</option>
						<option value="1687">Portaria Pedestres &#8211; São Remo</option>
						<option value="1675">Portaria Pedestres &#8211; IPT</option>
						<option value="1680">CINUSP &#8211; Cinema da USP</option>
						<option value="1666">Portaria Pedestres &#8211; Jardim Rizzo</option>
						<option value="1662">Portaria Instituto &#8211; Butantan</option>
						<option value="1648">Portaria Pedestres &#8211; HU</option>
						<option value="1640">PUSP -C- Prefeitura do Campus</option>
						<option value="1575">UBAS &#8211; Unidade Básica de Saúde</option>
						<option value="7">Praça do Relógio</option>
						<option value="31">IF &#8211; Instituto de Física</option>
						<option value="35">ECA &#8211; Escola de Comunicação e Artes</option>
						<option value="65">Restaurante Química (Bandejão)</option>
						<option value="189">POLI &#8211; Engenharia de Produção</option>
						<option value="70">FE &#8211; Faculdade de Educação</option>
						<option value="187">POLI &#8211; Engenharia Química</option>
						<option value="185">POLI &#8211; Engenharia Metalúrgica e de Materiais</option>
						<option value="183">POLI &#8211; Engenharia de Minas e de Petróleo</option>
						<option value="180">POLI &#8211; Engenharia Mecânica e Naval</option>
						<option value="178">POLI &#8211; Engenharia Elétrica</option>
						<option value="176">POLI &#8211; Engenharia Civil</option>
						<option value="67">FEA &#8211; Faculdade de Economia, Administração e Contabilidade</option>
						<option value="62">Restaurante central</option>
						<option value="166">ICB IV &#8211; Instituto de Ciências Biomédicas</option>
						<option value="120">ICB I &#8211; Instituto de Biociências</option>
						<option value="126">ICB III &#8211; Instituto de Ciências Biomédicas</option>
						<option value="117">IAG &#8211; Instituto de Astronomia, Geofísica e Ciências Atmosférica</option>
						<option value="122">ICB II &#8211; Instituto de Ciências Biomédicas</option>
						<option value="72">CEPEUSP &#8211; Centro de Práticas Esportivas</option>
						<option value="114">FMVZ &#8211; Faculdade Medicina Veterinária e Zootecnia</option>
						<option value="1429">MZ &#8211; Museu Paulista</option>
						<option value="216">IQ &#8211; Instituto de Química</option>
						<option value="1423">Museu de Geociências</option>
						<option value="1416">Museu de Ciências</option>
						<option value="1417">Praça dos Bancos</option>
						<option value="271">IB &#8211; Instituto de Biociências</option>
						<option value="211">IP &#8211; Instituto de Psicologia</option>
						<option value="1453">Museu Republicano Convenção de Itu</option>
						<option value="207">POLI &#8211; Administração Central (Ed. Mário Covas Jr.)</option>
						<option value="1412">MAC &#8211; Museu de Arte Contemporânea</option>
						<option value="269">FFLCH &#8211; Departamento de Teoria Literária e Literatura Comparada</option>
						<option value="266">FFLCH &#8211; Departamento de Sociologia</option>
						<option value="202">POLI &#8211; Engenharia Hidráulica e Ambiental</option>
						<option value="106">FCF &#8211; Faculdade de Ciências Farmacêuticas</option>
						<option value="102">FAU Maranhão &#8211; Faculdade de Arquitetura e Urbanismo</option>
						<option value="200">POLI &#8211; Engenharia Mecatrônica</option>
						<option value="256">FFLCH &#8211; Departamento de Linguística</option>
						<option value="100">FAU &#8211; Faculdade de Arquitetura e Urbanismo</option>
						<option value="197">POLI &#8211; Engenharia de Computação</option>
						<option value="1408">MAE- Museu de Arqueologia e Etnologia</option>
						<option value="96">EEFE &#8211; Escola de Educação Física e Esporte</option>
						<option value="254">FFLCH &#8211; Departamento de Letras Orientais</option>
						<option value="158">IME &#8211; Instituto de Matemática e Estatísitica</option>
						<option value="252">FFLCH &#8211; Departamento de Letras Modernas</option>
						<option value="247">FFLCH &#8211; Departamento de História</option>
						<option value="44">FO &#8211; Faculdade de Odontologia</option>
						<option value="244">FFLCH &#8211; Departamento de Geografia</option>
						<option value="242">FFLCH &#8211; Departamento de Filosofia</option>
						<option value="237">FFLCH &#8211; Departamento de Ciência Política</option>
						<option value="235">FFLCH &#8211; Departamento de Antropologia</option>
						<option value="41">FD &#8211; Faculdade de Direito</option>
						<option value="1449">Museu de Zoologia</option>
						<option value="148">IG &#8211; Instituto de Geociências</option>
						<option value="1406">Museu de Anatomia Veterinária</option>
						<option value="1403">Museu de Anatomia Humana</option>
						<option value="1400">Museu da Educação e do Brinquedo</option>
						<option value="1379">CPC &#8211; Centro de Preservação Cultural / Casa de Dona Yayá</option>
						<option value="4">Reitoria USP</option>
						<option value="145">IF &#8211; Instituto de Física</option>
						<option value="141">IEB &#8211; Instituto de Estudos Brasileiros</option>
						<option value="136">IEA &#8211; Instituto de Estudos Avançados</option>
						<option value="1376">Aucani &#8211; Agência USP de Cooperação Acadêmica Nacional e Internacional</option>
						<option value="133">IEE &#8211; Instituto de Energia e Ambiente</option>
						<option value="1373">PRPG &#8211; Pró-Reitoria de Pós Graduação</option>
						<option value="222">IO &#8211; Instituto Oceanográfico</option>
						<option value="1370">PRP &#8211; Pró-Reitoria de Pesquisa</option>
						<option value="1514">Parque Cientec</option>
						<option value="1511">Estação Ciência</option>
						<option value="219">IRI &#8211; Instituto de Relações Internacionais</option>
						<option value="1367">PRG &#8211; Pró-Reitoria de Graduação</option>
						<option value="1508">Centro Universitário Maria Antonia</option>
						<option value="1364">PRCEU &#8211; Pró-Reitoria de Cultura e Extensão Universitária</option>
						<option value="1361">SIBI &#8211; Sistema Integrado de Bibliotecas</option>
						<option value="1131">FEA &#8211; Biblioteca</option>
						<option value="1358">STI &#8211; Superintendência de Tecnologia da Informação</option>
						<option value="1355">SRI &#8211; Superintendência de Relações Institucionais</option>
						<option value="1352">SGA &#8211; Superintendência de Gestão Ambiental</option>
						<option value="1349">SCS &#8211; Superintendência de Comunicação Social</option>
						<option value="1346">SAS &#8211; Superintendência de Assistência Social</option>
						<option value="1342">USPinovação- Agência USP Inovação</option>
						<option value="1339">Diplomas &#8211; Secretária Geral</option>
						<option value="1252">FMVZ &#8211; Biblioteca Virginie Buff D&#8217;Ápice</option>
						<option value="1243">Poli &#8211; Biblioteca</option>
						<option value="1233">EEFE &#8211; Biblioteca</option>
						<option value="1230">CQ &#8211; Divisão de Biblioteca e Documentação do Conjunto das Químicas</option>
						<option value="1195">FE &#8211; Biblioteca do Livro Didático</option>
						<option value="1188">FAU Maranhão &#8211; Biblioteca Pós Graduação</option>
						<option value="1185">FAU &#8211; Biblioteca Arquitetura e Urbanismo</option>
						<option value="1178">MAE &#8211; Biblioteca e Documentação</option>
						<option value="1175">IEB &#8211; Biblioteca Instituto de Estudos Brasileiros</option>
						<option value="1172">FFLCH &#8211; Biblioteca Florestan Fernandes</option>
						<option value="1161">FD &#8211; Biblioteca Circulante</option>
						<option value="1152">FD &#8211; Biblioteca Faculdade de Direito</option>
						<option value="1148">ECA &#8211; Biblioteca Maria Luisa Monteiro da Cunha</option>
						<option value="1142">Biblioteca Brasiliana Guita e José Mindlin</option>
						<option value="250">FFLCH &#8211; Departamento de Letras Clássicas</option>       
				    </select>
				  </div>

				</div> 
			</ion-list>  
			</ion-content>
	  </ion-tab>



	  <ion-tab title="Mapa">
			<ion-content>
				<div id="map2" data-tap-disabled="true" style="height:100%;" ng-controller="RotasCtrl"></div>
			</ion-content>
	  </ion-tab>

	  	  <ion-tab title="Rotas">
			<ion-nav-bar class="bar-positive"></ion-nav-bar>
			<ion-content>
			  
			</ion-content>
	  </ion-tab>

	</ion-tabs>  
</ion-view>