{% extends 'login_layout.twig' %}

{% block title %}Senha?{% endblock %}

{% block content %}

    <p>
        Entre com seu email.
    </p>

    {% if error %}
        <div class="alert alert-danger">{{ error|nl2br }}</div>
    {% endif %}

    <form method="POST" action="{{ path('user.forgot-password') }}">

            <div class="form-group has-feedback">
                <input class="form-control" name="email" type="text" id="inputEmail" required value="{{ email }}">
                </div>


          <div class="row">
            <div class="col-xs-6">
                    <a href="{{ path('user.login') }}" style="margin-left: 10px;">Voltar</a>
            </div><!-- /.col -->
            <div class="col-xs-6">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Enviar instruções</button>
            </div><!-- /.col -->
          </div>
<hr>
            <p style="text-align:justify;">
                Se não receber o email em alguns minutos, favor verificar os spans.
                </p>
            
    </form>


{% endblock %}
